<%= render 'follow_form' %>
  <%= render 'stats' %>


<%= @user.name %>のページ

<% if user_signed_in? %>
  <div id="follow_form">
  <% if current_user.following?(@user) %>
    <%= render 'unfollow' %>
  <% else %>
    <%= render 'follow' %>
  <% end %>
  </div>
<% end %>


<a href="<%= following_user_path(@user) %>">
  <%= @user.following.count %>
following
</a>
<a href="<%= followers_user_path(@user) %>">
  <%= @user.followers.count %>
followers
</a>